*, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}

body {
    color: #333;
    background-color: #fff;
}

h1 {
    text-align: center;
    line-height: 20px;
}

a {
    color: #428BCA;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

a:hover,a:focus {
    color: #2a6496;
    text-decoration: underline;
}

main {
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
} 
main section {
    width : 100%;
    margin-bottom:  20px;
    overflow: visible;
}

main section div {
  font-size: 12px;
  background: blue;
  display: block;
  margin: 2px;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-transition : opacity .2s;
  -moz-transition : opacity .2s;
  -o-transition : opacity .2s;
  transition : opacity .2s;
} 
main section div:hover { opacity: .6; }

.active { background : magenta }
.hide { opacity: 0; }
.show { opacity: 1; }


